@charset "UTF-8";
/* Amiri */
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
/* Variables */
/* Mixin */
/* Buttons */
.b--btn-primary {
  border-radius: 40px;
  color: #fff;
  border: 1px solid #141414;
  background: #141414;
  padding: 8px 24px;
  margin: 16px;
  position: relative;
  overflow: hidden;
}

.b--btn-primary:hover {
  text-decoration: none;
  color: #fff;
}

.b--btn-primary:hover:before {
  width: 100%;
  height: 135px;
  border-radius: 50%;
}

.b--btn-primary:before {
  content: ' ';
  background: radial-gradient(rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.15) 65%);
  opacity: 1;
  width: 0%;
  height: 0;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.b--btn-secondary {
  border-radius: 40px;
  color: #313738;
  border: 1px solid #313738;
  background: #fff;
  padding: 8px 24px;
  margin: 16px;
  position: relative;
  overflow: hidden;
}

.b--btn-secondary img {
  width: 32px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.b--btn-secondary:hover {
  background: #141414;
  text-decoration: none;
  color: #fff;
}

.b--btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-padding {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.b--modal-links {
  text-align: center;
  padding-bottom: 24px;
}

.b--modal-links li {
  padding: 32px 0;
}

/* Mobile styles */
h1 {
  font-family: "Amiri", serif;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 28px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

small {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

small strong {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

strong {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #4576c4;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* SECTION FIRST */
.b--hero {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: relative;
}

.b--hero__wrapper {
  padding-left: 110px;
  padding-bottom: 60px;
  padding-right: 30px;
}

.b--hero__wrapper__title {
  max-width: 200px;
}

.b--img-hero {
  position: absolute;
  bottom: 0;
  right: 96px;
  z-index: -1;
}

.b--img-hero img {
  width: 500px;
}

.b--img-primary {
  background: transparent;
  position: absolute;
  top: 36%;
  left: -8px;
  width: 100px;
  height: 141px;
  z-index: 99;
}

/* SECTION SECOND */
.b--section-primary__wrapper__title {
  margin-bottom: 16px;
}

/* SECTION THIRD */
.b--section-secondary {
  background: #E3E6E6;
  position: relative;
}

.b--section-secondary__title {
  margin-bottom: 16px;
}

.b--section-secondary:after {
  content: '';
  width: 1px;
  height: 370px;
  background: #141414;
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  z-index: 0;
}

.b--section-secondary p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.b--section-secondary p strong {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.b--card-primary {
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 16px 30px;
  margin-bottom: 24px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.b--card-primary h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b--card-primary__date {
  background: #E3E6E6;
  border-radius: 48px;
  display: inline-block;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.35);
}

/* SECTION FOURTH */
.b--section-tertiary {
  background: #E3E6E6;
  position: relative;
}

.b--section-tertiary:after {
  content: '';
  width: 1px;
  height: 430px;
  background: #141414;
  position: absolute;
  top: -40%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  z-index: 0;
}

.b--section-tertiary p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.b--section-tertiary p strong {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* SECTION FIVE */
.b--section-fourth ul > li {
  margin-bottom: 8px;
}

.b--card-secondary {
  background: #fff;
  padding: 8px;
  border: 2.5px solid #E3E6E6;
  width: 100px;
  height: 100px;
}

.b--card-secondary:nth-child(1) {
  margin-right: 13px;
  display: inline-block;
}

.b--card-secondary:nth-child(2) {
  margin-right: 13px;
  display: inline-block;
}

.b--card-secondary:nth-child(3) {
  display: inline-block;
}

.b--card-secondary img {
  display: block;
  margin: 0 auto;
  width: 45px;
  margin-bottom: 8px;
}

.b--card-secondary p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

/* SECTION FIVE */
.b--section-fifth__title {
  margin-bottom: 16px;
}

.b--section-fifth ul li {
  margin-bottom: 24px;
}

.b--section-fifth ul li a {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.b--section-fifth ul li a:after {
  content: '»';
  margin-left: 10px;
}

.b--section-fifth ul li a:hover {
  text-decoration: none;
  margin: 8px;
}

/* SECTION SLIDER */
.b--slider h2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.b--slider__first__img img {
  max-width: 100%;
  margin-bottom: 16px;
}

/* FULLPAGE JS STYLES*/
.fp-slidesNav.fp-bottom {
  bottom: 17px;
  left: 30% !important;
}

/*BOOTSTRAP STYLES*/
.modal-header span img {
  width: 40px;
}

.modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  display: none;
}

@media (min-height: 735px) and (min-width: 295px) {
  .b--img-hero {
    right: 130px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-family: "Amiri", serif;
    font-size: 40px;
    line-height: 52px;
  }
  h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
  /* SECTION FIRST */
  .b--hero {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .b--hero__wrapper {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .b--hero__wrapper__title {
    max-width: 40%;
  }
  .b--hero__wrapper p {
    max-width: 50%;
  }
  .b--img-hero {
    right: 0;
  }
  .b--img-hero img {
    width: 550px;
  }
  .b--btn-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .b--btn-primary {
    margin-left: 0;
  }
  .b--section-primary__wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .b--section-secondary__wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .b--slider h2 {
    display: none;
  }
  .b--slider__first strong {
    text-align: center;
  }
  .b--slider__first img {
    max-width: 650px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .b--slider__first p {
    text-align: center;
  }
  .fp-slidesNav.fp-bottom {
    left: 45% !important;
  }
  .b--section-fourth__wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  #section6 > div > div > ul > li:nth-child(1) {
    display: inline-block;
    margin-right: 40px;
  }
  #section6 > div > div > ul > li:nth-child(2) {
    display: inline-block;
  }
  .b--section-fifth__wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .hidden {
    display: inline-block;
  }
  .b--section-secondary:after {
    bottom: 30%;
    height: 570px;
  }
  .b--section-tertiary:after {
    bottom: 25%;
    height: 450px;
  }
}

@media screen and (min-width: 1920px) {
  .b--img-hero {
    right: -200px;
  }
  .b--img-hero img {
    width: 750px;
  }
  .b--section-tertiary:after {
    height: 650px;
  }
}
/*# sourceMappingURL=style-final.css.map */